Source: ros-lyrical-rcl-yaml-param-parser
Section: misc
Priority: optional
Maintainer: Audrow Nash <audrow@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), libyaml-dev, ros-lyrical-ament-cmake-gen-version-h, ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-ament-cmake-ros, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-libyaml-vendor, ros-lyrical-mimick-vendor <!nocheck>, ros-lyrical-osrf-testing-tools-cpp <!nocheck>, ros-lyrical-performance-test-fixture <!nocheck>, ros-lyrical-rcutils, ros-lyrical-rmw, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/rcl_yaml_param_parser/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rcl-yaml-param-parser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libyaml-dev, ros-lyrical-libyaml-vendor, ros-lyrical-rcutils, ros-lyrical-rmw, ros-lyrical-ros-workspace
Description: Parse a YAML parameter file and populate the C data structure.
