Source: ros-bouncy-rcl-yaml-param-parser
Section: misc
Priority: extra
Maintainer: Anup Pemmaiah <anup.pemmaiah@apex.ai>
Build-Depends: debhelper (>= 9.0.0), libyaml-dev, ros-bouncy-ament-cmake-gtest, ros-bouncy-ament-cmake-ros, ros-bouncy-ament-lint-auto, ros-bouncy-ament-lint-common, ros-bouncy-launch-testing, ros-bouncy-libyaml-vendor, ros-bouncy-rcl, ros-bouncy-rcutils, ros-bouncy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-bouncy-rcl-yaml-param-parser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libyaml-dev, ros-bouncy-libyaml-vendor, ros-bouncy-ros-workspace
Description: Package containing various utility types and functions for C
